In [1]:
import requests
import csv
import pandas as pd
import numpy as np
import geopandas
from pyproj import Proj, transform

In [ ]:
# SAM = geopandas.read_file('Live_Street_Address_Management_SAM_Addresses/Live_Street_Address_Management_SAM_Addresses.shp')
# SAM.crs

In [ ]:
df = pd.DataFrame()
df_all = pd.DataFrame()

In [ ]:
SAM = pd.read_csv('Live_Street_Address_Management_SAM_Addresses.csv')

inProj = Proj(init='epsg:2249')
outProj = Proj(init='epsg:4326')

In [10]:
# Google API
url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?'
loc_url = 'location='
rad_url = '&radius=' + '50' + '&key='
key = 'AIzaSyDVyWMhDz7FmqfpcJVzhcgEMfjxLced7Rk'

In [9]:
google = pd.read_excel('google_complete.xlsx')
google

,icon,id,name,place_id,reference,scope,types,vicinity,coord,latitude,longitude
0,https://maps.gstatic.com/mapfiles/place_api/ic...,8719f7b27578540d9095fd31d281f32e8fa21b3c,Boston Village Auto Body,ChIJtWdoss9544kRQx3cZNqDHb8,ChIJtWdoss9544kRQx3cZNqDHb8,GOOGLE,"['car_repair', 'point_of_interest', 'establish...","1 Emery Road, Allston","{'location': {'lat': 42.35487810000001, 'lng':...",42.354878,-71.135786
1,https://maps.gstatic.com/mapfiles/place_api/ic...,fcf2a0b015ae3257bacc5c4d15edbcdf10d6f719,Grasshopper Restaurant,ChIJI42q9M5544kRLTOn1mpzpmI,ChIJI42q9M5544kRLTOn1mpzpmI,GOOGLE,"['restaurant', 'food', 'point_of_interest', 'e...","1 North Beacon Street, Allston","{'location': {'lat': 42.353718, 'lng': -71.137...",42.353718,-71.137435
2,https://maps.gstatic.com/mapfiles/place_api/ic...,98fab2646d77eee60be5d85d4484107a79cc0486,1 N Beacon St Parking,ChIJHc2g9M5544kRqN9ZIK9X8Ro,ChIJHc2g9M5544kRqN9ZIK9X8Ro,GOOGLE,"['parking', 'point_of_interest', 'establishment']","1 North Beacon Street, Boston","{'location': {'lat': 42.3536389, 'lng': -71.13...",42.353639,-71.137355
3,https://maps.gstatic.com/mapfiles/place_api/ic...,bf0febd852165b7881188c0714d5ec22d1319dbc,Cardtronics ATM,ChIJv_xXVcR544kRfG1qQNPTdcw,ChIJv_xXVcR544kRfG1qQNPTdcw,GOOGLE,"['atm', 'finance', 'point_of_interest', 'estab...","100 Brighton Avenue, Allston","{'location': {'lat': 42.3524168, 'lng': -71.12...",42.352417,-71.129882
4,https://maps.gstatic.com/mapfiles/place_api/ic...,914a424418c12f7e2102410f1d8994741302d7b9,Speedway,ChIJPUEZVcR544kRj6dLohT8TZY,ChIJPUEZVcR544kRj6dLohT8TZY,GOOGLE,"['convenience_store', 'gas_station', 'food', '...","100 Brighton Avenue, Allston","{'location': {'lat': 42.3525327, 'lng': -71.12...",42.352533,-71.129886
...,...,...,...,...,...,...,...,...,...,...,...
495,https://maps.gstatic.com/mapfiles/place_api/ic...,ab018de71d4e370664e078861b4c62774b7a23ff,144-140 Harvard Ave,ChIJ4wyLlMV544kRC-Rho_vFB7Y,ChIJ4wyLlMV544kRC-Rho_vFB7Y,GOOGLE,['route'],NaN,"{'location': {'lat': 42.35192670000001, 'lng':...",42.351927,-71.131777
496,https://maps.gstatic.com/mapfiles/place_api/ic...,f34c76665afb668245dcbcbdcdd9a536379cc050,58-20 Harvard Ave,ChIJsXDEW8V544kRWatOaYOoLLI,ChIJsXDEW8V544kRWatOaYOoLLI,GOOGLE,['route'],NaN,"{'location': {'lat': 42.3546826, 'lng': -71.13...",42.354683,-71.132530
497,https://maps.gstatic.com/mapfiles/place_api/ic...,884fa21a591a1d41fc4c8acddfe44913a1a3cfbf,57-63 Harvard Ave,ChIJwWSsZ8V544kRDyogtqSaubo,ChIJwWSsZ8V544kRDyogtqSaubo,GOOGLE,['route'],NaN,"{'location': {'lat': 42.3541336, 'lng': -71.13...",42.354134,-71.132363
498,https://maps.gstatic.com/mapfiles/place_api/ic...,f2bbf8f4e432bc352361a4d34af81ca8d4c835f8,65-85 Harvard Ave,ChIJD4oVZcV544kRSrB6GQj2ck8,ChIJD4oVZcV544kRSrB6GQj2ck8,GOOGLE,['route'],NaN,"{'location': {'lat': 42.3537498, 'lng': -71.13...",42.353750,-71.132249
499,https://maps.gstatic.com/mapfiles/place_api/ic...,9e620cc9d3f21ed017c3ef76c667719760d7441e,18-2 Harvard Ave,ChIJzS9aVMV544kRYy-vnNWWILU,ChIJzS9aVMV544kRYy-vnNWWILU,GOOGLE,['route'],NaN,"{'location': {'lat': 42.35533299999999, 'lng':...",42.355333,-71.132736

In [37]:
status = []

for lat, lon in zip(google['latitude'], google['longitude']):
    total_url = url + loc_url + str(lat) + ',' + str(lon) + rad_url + key
    response = requests.get(total_url)
    search_results = response.json()
    if len(search_results['results']) > 1:
        try:
            status.append(search_results['results'][1]['business_status'])
        except:
            status.append('')
            
    else:
        status.append('')
    
statusSeries = pd.Series(status)
google['business_status'] = statusSeries.values

In [40]:
google.to_excel('google.xlsx')

In [ ]:
# Bing API
BingMapsAPIKey = "Ag9OGZ8tuL2y_uhT0cKaTg-tuS4wocFWrEmWaIWCcfcMoLC5_2Jma00ZhRVoT0XK"

In [ ]:
for idx in SAM.index[350000:398461]: 
    x = SAM['X'][idx]
    y = SAM['Y'][idx]
    longitude,latitude = transform(inProj,outProj,x,y)
    record = idx

    search_url = "http://dev.virtualearth.net/REST/v1/locationrecog/" + str(latitude) + "," + str(longitude) +\
                    "?key=" + BingMapsAPIKey + "&output=json"
    response = requests.get(search_url)
    response.raise_for_status()
    search_results = response.json()

    for i in range(len(search_results['resourceSets'][0]['resources'][0]['businessesAtLocation'])):
        try:
            lat = search_results['resourceSets'][0]['resources'][0]['businessesAtLocation'][i]['businessAddress']['latitude']
            lon = search_results['resourceSets'][0]['resources'][0]['businessesAtLocation'][i]['businessAddress']['longitude']
        except:
            continue
        
        try:
            addressLine = search_results['resourceSets'][0]['resources'][0]['businessesAtLocation'][i]['businessAddress']['addressLine']
        except:
            addressLine = np.nan
            
        try:
            locality = search_results['resourceSets'][0]['resources'][0]['businessesAtLocation'][i]['businessAddress']['locality']
        except:
            locality = np.nan
            
        try:
            postalCode = search_results['resourceSets'][0]['resources'][0]['businessesAtLocation'][i]['businessAddress']['postalCode']
        except:
            postalCode = np.nan
            
        try:
            formattedAddress = search_results['resourceSets'][0]['resources'][0]['businessesAtLocation'][i]['businessAddress']['formattedAddress']
        except:
            formattedAddress = np.nan           
        
        try:
            entityName = search_results['resourceSets'][0]['resources'][0]['businessesAtLocation'][i]['businessInfo']['entityName']
        except:
            entityName = np.nan
            
        try:
            entityType = search_results['resourceSets'][0]['resources'][0]['businessesAtLocation'][i]['businessInfo']['type']
        except:
            entityType = np.nan
            
        try:
            otherTypes = search_results['resourceSets'][0]['resources'][0]['businessesAtLocation'][i]['businessInfo']['otherTypes']
        except:
            otherTypes = np.nan
        
        df = df.append({'LAT': lat, 
                        'LON': lon,
                        'ADDRESS_LINE': addressLine,
                        'LOCALITY': locality,
                        'ZIP_CODE': postalCode,
                        'FULL_ADDRESS': formattedAddress,
                        'BUSINESS_NAME': entityName,
                        'BUSINESS_TYPE': entityType,
                        'BUSINESS_OTHER_TYPES': otherTypes
                         }, 
                       ignore_index=True)

In [ ]:
df_all = df_all.append(df)
df_all = df_all.drop_duplicates(subset=['LAT','LON','FULL_ADDRESS','BUSINESS_NAME'], keep='first')
df_all = df_all.reset_index(drop=True)
df_all

In [ ]:
sequence = ['LAT','LON','ADDRESS_LINE','LOCALITY','ZIP_CODE','FULL_ADDRESS','BUSINESS_NAME','BUSINESS_TYPE','BUSINESS_OTHER_TYPES']
df_all = df_all.reindex(columns=sequence)

In [ ]:
# Yelp API
api_key = "hC_sbOQsbpD1Rm10RW-SU96tPGKryfjOznw0-mjbd6Lh2FYTR-KveTG5I1wia2vKwT7E3NDc4Bdh3r7IXetVhTz-FmjB4dkzr4OkOMRdgpGWlbv-YBn-ZkIpLJj7XnYx"
url = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'Bearer {}'.format(api_key)}

In [ ]:
df = pd.DataFrame()
for idx in coord.index[7621:7625]: 
    lat = coord['LAT'][idx]
    lon = coord['LON'][idx]
    record = idx

    url_params = {'latitude': lat,
                  'longitude': lon,
                  'radius': 50}

    response = requests.get(url, headers=headers, params=url_params)
    search_results = response.json()
    
    for i in range(len(search_results['businesses'])):
        try:
            latitude = search_results['businesses'][i]['coordinates']['latitude']
            longitude = search_results['businesses'][i]['coordinates']['longitude']
            businessID = search_results['businesses'][i]['id']
            name = search_results['businesses'][i]['name']
        except:
            continue
        
        try:
            is_closed = search_results['businesses'][i]['is_closed']
        except:
            is_closed = np.nan
            
        try:
            rating = search_results['businesses'][i]['rating']
        except:
            rating = np.nan
            
        try:
            phone = search_results['businesses'][i]['coordinates']['display_phone']
        except:
            phone = np.nan
        
        categories = []
        for j in range(len(search_results['businesses'][i]['categories'])):
            categories.append(search_results['businesses'][i]['categories'][j]['title'])
        
        if len(search_results['businesses'][i]['location']['display_address']) > 1:
            address1 = search_results['businesses'][i]['location']['display_address'][0]
            address2 = search_results['businesses'][i]['location']['display_address'][1]
            street_address = address1
            locality = address2
        else:
            address = search_results['businesses'][i]['location']['display_address'][0]
            locality = address
            
        df = df.append({'id': businessID,
                        'latitude': latitude, 
                        'longitude': longitude,
                        'street_address': street_address,
                        'locality': locality,
                        'business_name': name,
                        'categories': categories,
                        'is_closed': is_closed,
                        'phone': phone,
                        'rating': rating}, 
                       ignore_index=True)

In [ ]:
# OpenStreetMaps API
df = pd.DataFrame()
for idx in coord.index[6587:7625]: 
    lat = coord['LAT'][idx]
    lon = coord['LON'][idx]
    record = idx
    
    search_url = "https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=" + str(lat) + "&lon=" + str(lon)
    response = requests.get(search_url)
    response.raise_for_status()
    search_results = response.json()
    
    for i in range(len(search_results)):
        try:
            osm_id = search_results['osm_id']
            latitude = search_results['lat']
            longitude = search_results['lon']
        except:
            continue
            
        try:
            name = search_results['address']['amenity']
        except:
            name = ''
            
        try:
            road = search_results['address']['road']
        except:
            road = ''
            
        try:
            neighbourhood = search_results['address']['neighbourhood']
        except:
            neighbourhood = ''
            
        try:
            suburb = search_results['address']['suburb']
        except:
            suburb = ''
            
        try:
            city = search_results['address']['city']
        except:
            city = ''
            
        try:
            county = search_results['address']['county']
        except:
            county = ''
            
        try:
            state = search_results['address']['state']
        except:
            state = ''
            
        try:
            postcode = search_results['address']['postcode']
        except:
            postcode = ''
    
        address = road + ', ' + neighbourhood + ', ' + suburb + ', ' + city + ', ' + \
                  county + ', ' + state + ', ' + postcode
        
    df = df.append({'osm_id': osm_id,
                    'latitude': latitude, 
                    'longitude': longitude,
                    'business_name': name,
                    'road': road,
                    'neighbourhood': neighbourhood,
                    'suburb': suburb,
                    'city': city,
                    'county': county,
                    'state': state,
                    'postcode': postcode,
                    'full_address': address},
                    ignore_index=True)

In [ ]:
df_all = df_all.append(df)
print(len(df_all))
df_all = df_all.drop_duplicates(subset=['business_name', 'full_address'], keep='first')
df_all = df_all.reset_index(drop=True)

In [ ]:
sequence = ['osm_id','latitude','longitude','business_name','road','neighbourhood','suburb','city','county',
            'state','postcode','full_address']
df_all = df_all.reindex(columns=sequence)
df_all

In [ ]:
df_all.to_excel('OSM.xlsx')

In [2]:
f = pd.read_excel('merged_update.xlsx')
f

,address,name,latitude,longitude,In BU list (Y/N),BU code,In InfoUSA list (Y/N),InfoUSA ID,In MSD list (Y/N),In Google list (Y/N),...,In Yelp list (Y/N),In Yellowpages list (Y/N),In OSM list (Y/N),In SafeGraph list (Y/N),Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,1 Braintree St,Designer Circus,42.356151,-71.135282,N,NaN,N,NaN,Y,N,...,Y,N,N,Y,NaN,NaN,NaN,NaN,NaN,NaN
1,1 Braintree St,Boston Sports Medicine,42.356151,-71.135282,N,NaN,N,NaN,Y,N,...,Y,N,N,Y,NaN,NaN,NaN,NaN,NaN,NaN
2,1 Braintree St,Boston Real Estate,42.356151,-71.135282,N,NaN,N,NaN,N,N,...,N,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3 Braintree St,Horizon Boston Movers | Movers Boston,42.356020,-71.133216,N,NaN,N,NaN,N,N,...,N,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN
4,10 Braintree St,Jack Young Co Inc Auto Equipment,42.355873,-71.133253,N,NaN,N,NaN,N,N,...,N,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
852,Po Box 14,AAA Garage Door Co,42.354308,-71.132560,Y,204.0,Y,392576849.0,N,N,...,N,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN
853,Po Box 269,Phantom Gourmet,42.354308,-71.132560,Y,285.0,Y,711128459.0,N,N,...,N,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN
854,Po Box 298,Pugg Co Inc,42.354308,-71.132560,Y,288.0,Y,663469260.0,N,N,...,N,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN
855,Po Box 364,Farrington Inn,42.354308,-71.132560,Y,247.0,Y,711136961.0,N,N,...,N,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN
856,Po Box 623,Boston Adoption Press,42.354308,-71.132560,Y,221.0,N,665010641.0,N,N,...,N,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
InfoUSA_Only = f[(f['In InfoUSA list (Y/N)'] == 'Y') &
                 (f['In MSD list (Y/N)'] == 'N') &
                 (f['In Google list (Y/N)'] == 'N') &
                 (f['In Bing list (Y/N)'] == 'N')]

len(InfoUSA_Only)

In [ ]:
MG_Only = f[(f['In Yelp list (Y/N)'] == 'N') &
            (f['In Google list (Y/N)'] == 'N') &
            (f['In Bing list (Y/N)'] == 'N') &
            (f['In Yellowpages list (Y/N)'] == 'N') &
            (f['In Manual Google (Y/N)'] == 'Y')]
len(MG_Only)

In [7]:

MSD = f[(f['In MSD list (Y/N)'] == 'Y') &
        (f['In Google list (Y/N)'] == 'Y') &
        (f['In Bing list (Y/N)'] == 'Y') &
        (f['In SafeGraph list (Y/N)'] == 'Y')]

len(MSD)

93

In [5]:
MSD = f[(f['In MSD list (Y/N)'] == 'Y')]
len(MSD)

298

In [ ]:
Yelp = f[(f['In Yelp list (Y/N)'] == 'Y')]
len(Yelp)

In [ ]:
Yelp_Google = f[(f['In Yelp list (Y/N)'] == 'Y') &
                (f['In Google list (Y/N)'] == 'Y')]
len(Yelp_Google)

In [ ]:
Yelp_MG = f[(f['In Manual Google (Y/N)'] == 'Y') &
            (f['In Yelp list (Y/N)'] == 'Y')]
len(Yelp_MG)

In [ ]:
Yelp_Only = f[(f['In MSD list (Y/N)'] == 'N') &
              (f['In Google list (Y/N)'] == 'N') &
              (f['In Bing list (Y/N)'] == 'N') &
              (f['In Yelp list (Y/N)'] == 'Y')]
len(Yelp_Only)

In [ ]:
InfoUSA = f[(f['In InfoUSA list (Y/N)'] == 'Y')]
len(InfoUSA)

In [ ]:
InfoUSA_Google = f[(f['In InfoUSA list (Y/N)'] == 'Y') &
                (f['In Google list (Y/N)'] == 'Y')]
len(InfoUSA_Google)

In [ ]:
InfoUSA_Bing = f[(f['In InfoUSA list (Y/N)'] == 'Y') &
                 (f['In Bing list (Y/N)'] == 'Y')]
len(InfoUSA_Bing)

In [ ]:
InfoUSA_YP = f[(f['In Yellowpages list (Y/N)'] == 'Y') &
                (f['In InfoUSA list (Y/N)'] == 'Y')]
len(InfoUSA_YP)

In [ ]:
SafeGraph = f[(f['In SafeGraph list (Y/N)'] == 'Y')]
len(SafeGraph)

In [ ]:
SafeGraph_Google = f[(f['In SafeGraph list (Y/N)'] == 'Y') &
                     (f['In Google list (Y/N)'] == 'Y')]
len(SafeGraph_Google)

In [ ]:
SafeGraph_Bing = f[(f['In SafeGraph list (Y/N)'] == 'Y') &
                   (f['In Bing list (Y/N)'] == 'Y')]
len(SafeGraph_Bing)

In [ ]:
SafeGraph_MG = f[(f['In SafeGraph list (Y/N)'] == 'Y') &
                 (f['In Manual Google (Y/N)'] == 'Y')]
len(SafeGraph_MG)

In [ ]:
SafeGraph_Unique = f[(f['In SafeGraph list (Y/N)'] == 'Y') &
                     (f['In Google list (Y/N)'] == 'N') &
                     (f['In Bing list (Y/N)'] == 'N') &
                     (f['In Yelp list (Y/N)'] == 'N') &
                     (f['In Yellowpages list (Y/N)'] == 'N') &
                     (f['In InfoUSA list (Y/N)'] == 'N') &
                     (f['In MSD list (Y/N)'] == 'N')]
len(SafeGraph_Unique)

In [3]:
newf = f[f['In Manual Google (Y/N)'] == 'Y']

x = newf[(newf['In Bing list (Y/N)'] == 'Y') |
         (newf['In Yelp list (Y/N)'] == 'Y') |
         (newf['In Yellowpages list (Y/N)'] == 'Y') |
         (newf['In SafeGraph list (Y/N)'] == 'Y') |
         (newf['In Google list (Y/N)'] == 'Y')]

len(x)

405

In [8]:
newf = f[f['In MSD list (Y/N)'] == 'Y']

x = newf[(newf['In Bing list (Y/N)'] == 'Y') |
         (newf['In Yelp list (Y/N)'] == 'Y') |
         (newf['In Yellowpages list (Y/N)'] == 'Y') |
         (newf['In SafeGraph list (Y/N)'] == 'Y') |
         (newf['In Google list (Y/N)'] == 'Y')]

len(x)

211

In [32]:
newf = f[f['In InfoUSA list (Y/N)'] == 'Y']

x = newf[(newf['In SafeGraph list (Y/N)'] =='Y') |
         (newf['In Bing list (Y/N)'] == 'Y') |
         (newf['In Yelp list (Y/N)'] == 'Y') |
         (newf['In Yellowpages list (Y/N)'] == 'Y')]

len(x)

294